body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    
    padding: 16px 250px 100px 250px;
}

.one-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.one-header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-right: auto;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a, .hero-secondary-text, .hero-button {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.one-main {
    display: flex;
    margin-top: 120px;
    gap: 24px;
    align-items: stretch;
    height: 250px;

}

.one-main-left {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 250px;
    flex: 1;
    justify-content: space-between;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.one-main-right {
    display: flex;

    flex: 1;
}

.image {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
    flex: 1;
}

.hero-button {
    margin-top: 16px;
    background-color: #3882F6;
    font-weight: bold;
    padding: 6px 36px;
    border-radius: 5px;
    border: 0;
}

.two {
    text-align: center;
}

.two-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 36px;
    margin-bottom: 36px;

}

.two-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 300px;
}

.info {
    max-width: 180px;
}

.info-picture {
    border: 5px solid #3882F6;
    border-radius: 15px;

    height: 180px;
    width: 180px;
}

.info-text {
    font-size: 18px;
    color: grey;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.three-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-bottom {
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.four-container {
    background-color: #3882F6;
    width: 1100px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 150px;
}

.four-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.four-container-left-bold {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.four-container-left-light {
    color: white;
    font-size: 18px;
}

.four-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-button {
    margin-top: 16px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 6px 36px;
    border-radius: 8px;
    border: 4px solid white;
    

}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}